<header>
    <nav class="navbar navbar-expand navbar-dark" style="border-bottom: 2px solid; height:70px;">
        <div style="margin: 10px 20px 15px 30px;">
            <a class="navbar-brand" href="">
                <img src="../../assets/Flag-Canada.jpeg" alt="Au Canada" height="40px" width="100px">
            </a>
        </div>
        <p class="h5" style="margin-right:20px;">Goverment <br> of Canada</p>
        
        <p class="h5" >Gouvernement <br>du Canada</p>

        <p class="h5" style="margin-left:100px; padding-top:2em;">Business and Effort Assessment Tool (BEAT)</p>

        
    </nav>
</header>